* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
    font-family: "Inter", sans-serif;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    .text-mobile {
        font-weight: 700;
        font-style: normal;
        font-size: 44px;
    }
    .container-solution {
        height: 191px;
    }
    .img-solution {
        max-width: 360px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .bg-solution {
        max-width: 360px;
        background-color: #f1a501;
    }
    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }

    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
    .jumbotron-aboutus .container .breadcrumb {
        margin-left: -250px;
        margin-top: 0px;
    }

    .jumbotron-solution .container .breadcrumb {
        margin-left: -200px;
    }

    .jumbotron-technology .container .breadcrumb {
        margin-left: -300px;
    }

    .jumbotron-news .container .breadcrumb {
        margin-left: -150px;
    }

    .breadcrumb .breadcrumb-item {
        margin-top: 130px;
    }

    .jumbotron-career .breadcrumb {
        margin-left: -150px;
    }

    .image-news {
        height: 300px;
        width: 500px;
    }

    .bg-image-size-solution {
        width: 360px;
        height: 191px;
        margin-left: 80px;
        margin-top: -40px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .jumbotron-home .container .breadcrumb {
        margin-left: -155px;
        margin-top: 100px;
    }

    .text-mobile {
        font-weight: 700;
        font-style: normal;
        font-size: 44px;
    }

    .container-solution {
        height: 140px;
    }
    .img-solution {
        max-width: 275px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .bg-solution {
        max-width: 275px;
        background-color: #f1a501;
    }
    .jumbotron-aboutus .container .breadcrumb {
        margin-left: -200px;
        margin-top: 100px;
    }

    .image-size-tech {
        height: 3000px;
        width: auto;
        margin-top: 50px;
    }
    .hero-font-title {
        margin-top: 10px;
        font-weight: 700;
        font-size: 35px;
    }

    .hero-font-desc {
        font-weight: 700;
        font-size: 15px;
    }

    .card-aboutus {
        width: 150px;
        height: 150px;
    }

    .jumbotron-news .container .breadcrumb {
        margin-top: 100px;
        margin-left: -125px;
    }

    .image-news {
        height: 250px;
        width: 400px;
    }

    .image-size-solution {
        width: 275px;
        height: 140px;
        margin-left: -10px;
        /* object-fit: cover; */
    }

    .bg-image-size-solution {
        width: 275px;
        height: 140px;
        margin-left: -10px;
        margin-top: 5px;
    }
}

@media (max-width: 576px) {
    .jumbotron-home .container .breadcrumb {
        margin-left: -120px;
    }

    .text-mobile {
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }
    .container-solution {
        height: 140px;
    }
    .img-solution {
        max-width: 275px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .bg-solution {
        max-width: 275px;
        background-color: #f1a501;
    }
    .cantas-app {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .cantas-smartphone {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
    }

    .cantas-visit {
        padding-bottom: 15px;
    }

    /* Technology */
    .image-size-tech {
        height: 750px;
        width: auto;
        margin-top: 50px;
    }

    .image-size-solution {
        width: 275px;
        height: 140px;
        margin-left: -10px;
        object-fit: cover;
    }

    .bg-image-size-solution {
        width: 275px;
        height: 140px;
        margin-left: -10px;
        margin-top: 5px;
    }

    .jumbotron-technology {
        background-image: url("assets/images/background/Backgroundtechnology.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-technology .container .breadcrumb {
        margin-left: -185px;
    }

    /* Solution */
    .jumbotron-solution .container .breadcrumb {
        margin-left: -120px;
    }

    .jumbotron-solution {
        background-image: url("assets/images/background/Background.png");
        background-size: cover;
        height: 170px;
        width: auto;
        position: relative;
    }

    /* About Us */
    .jumbotron-aboutus {
        background-image: url("assets/images/background/Background.png");
        background-size: cover;
        height: 170px;
        width: auto;
        position: relative;
    }

    .jumbotron-aboutus .container .breadcrumb {
        margin-left: -140px;
    }

    .breadcrumb .breadcrumb-item {
        margin-top: 100px;
    }

    .jumbotron-news .container .breadcrumb {
        margin-left: -90px;
    }

    .hero-font-title {
        margin-top: 10px;
        font-weight: 700;
        /* font-size: 35px; */
    }

    .hero-font-desc {
        font-weight: 700;
        /* font-size: 15px; */
    }

    .card-aboutus {
        width: 125px;
        height: 125px;
    }

    .jumbotron-career .breadcrumb {
        margin-left: -100px;
    }

    .image-news {
        height: 125px;
        width: 250px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.subscribe .card {
    background-color: #f1a501;
    width: 1000px;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.subscribe .input-group {
    position: relative;
}

/* FONT */

.hero-font {
    font-family: "Work Sans", sans-serif;
}

.container-news {
    position: relative;
}

.navbar {
    position: relative;
    z-index: 1;
}

/* jumbotron */

/* .container .cs-hidden{
    display: flex;
    justify-content: left;
    height: 300px;
    width: 370px;
    margin: 10px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
} */
/* .services-container .slider{
    display: flex;
    justify-content: left;
    height: 300px;
    width: 370px;
    box-shadow: 0px 1px 4px ;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
} */

.slider {
    overflow: hidden;
}

.slider .card {
    width: 350px;
    height: 300px;
    border-radius: 20px;
}

.slider img {
    height: 80px;
    width: 80px;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: left;
    /* height: 600px;
    width: 4000px; */
    /* margin: 10px auto; */
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.container .row {
    justify-content: center;
}

.container .card-cantas {
    justify-content: center;
    border-radius: 20px;
}

/* .news a{
    position: absolute;
    margin-left:-300px;
} */
.arrow {
    position: absolute;
    top: 200px;
    right: 0px;
    color: #fff;
    font-size: 125px;
    cursor: pointer;
}

/* .slide-img{
    height: 500px;
    width: 300px;
    position: relative;
} */

/* .slider img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
} */

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.overlay {
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT US */

/* .jumbotron-aboutus {
    background-image: url("assets/images/background/Background.png");
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
} */

.jumbotron-aboutus .container {
    z-index: 1;
    position: relative;
}

.jumbotron-aboutus::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

/*.jumbotron-aboutus::after{*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

.jumbotron-aboutus .display-4 {
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    /* margin-left: -135px; */
    font-weight: 700;
    font-size: 48;
}

.jumbotron-aboutus .display-4 .breadcrumb {
    color: #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* Info Panel */
.info-panel-aboutus {
    background-color: white;
    box-shadow: 0 1px 4px;
    border-radius: 10px;
    /* padding: 30px; */
    /* margin-top: -70px; */
    z-index: 1;
}

/* SOLUTIONs */
.jumbotron-solution {
    background-image: url("assets/images/background/Backgroundsolution.png");
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}

.jumbotron-solution .container {
    z-index: 1;
    position: relative;
}

.jumbotron-solution::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron-solution .display-4-solution {
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    /* margin-left: -135px; */
    font-weight: 700;
    font-size: 48;
}

.jumbotron-solution .display-4-solution .breadcrumb {
    color: #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.info-panel-solution {
    background-color: white;
    border-radius: 10px;
    width: 1314px;
    /* height: 800px; */
    padding: 30px;
    /* margin-top: -70px; */
    z-index: 1;
}

/* TECHNOLOGY */
/* .jumbotron-technology {
    background-image: url("assets/images/background/Backgroundtechnology.png");
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
} */

.jumbotron-technology .container {
    z-index: 1;
    position: relative;
}

.jumbotron-technology::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron-technology .display-4 {
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    /* margin-left: -135px; */
    font-weight: 700;
    font-size: 48;
}

.jumbotron-technology .display-4 .breadcrumb {
    color: #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.info-panel-technology {
    background-image: url("assets/images/technology/bgimg.png");
    border-radius: 10px;
    width: 1186px;
    height: 2297px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* NEWS */
.jumbotron-news {
    background-image: url("assets/images/background/Backgroundnews.png");
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}

.jumbotron-news .container {
    z-index: 1;
    position: relative;
}

.jumbotron-news::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron-news .display-4 {
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    /* margin-left: -135px; */
    font-weight: 700;
    font-size: 48;
}

.jumbotron-news .display-4 .breadcrumb {
    color: #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.info-panel-news {
    background-color: white;
    border-radius: 10px;
    width: 1314px;
    height: 800px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* Career */
.jumbotron-career {
    background-image: url("assets/images/background/career_banner.jpg");
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
    background-position: center;
}

.jumbotron-career .container {
    z-index: 1;
    position: relative;
}

.jumbotron-career::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron-career .display-4 {
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-career .display-4 .breadcrumb {
    color: #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.info-panel-career {
    background-color: white;
    border-radius: 10px;
    width: 1314px;
    height: 800px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}
/* Our Experience */
.ourexperience,
.card {
    margin-left: 10px;
    position: relative;
}

/* Team Member */
.team-member,
.card {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
}

.team-member,
.card-title {
    text-align: center;
}

/* .services{
    bottom: 500px;
}
.services .card-body{
    width: 350px;
    height: 300px;
} */
/* .services .card img{
    position: absolute;
    margin-left: 200px;

} */
/* .services .card-body .text{
    margin-top: 100px;
    position: absolute;
    margin-left: 20px; margin-top: 20px; text-align: justify
} */
/* .services .row{
        margin: 30px;
    }  */

@media (min-width: 576px) and (max-width: 768px) {
    .container-solution {
        height: 140px;
    }
    .img-solution {
        max-width: 275px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .bg-solution {
        max-width: 275px;
        background-color: #f1a501;
    }
    .cantas-smartphone {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .cantas-visit {
        padding-bottom: 15px;
    }

    /* Solution */
    .jumbotron-solution {
        background-image: url("assets/images/background/Backgroundsolution.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-solution.container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-solution::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-solution .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-solution .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .jumbotron-solution .breadcrumb {
        margin-top: 100px;
        margin-left: -170px;
    }

    .info-panel-solution {
        background-color: white;
        border-radius: 10px;
        width: 1000px;
        height: 400px;
        padding: 30px;
        /* margin-top: -70px; */
        z-index: 1;
    }

    /* TECHNOLOGY */
    .jumbotron-technology {
        background-image: url("assets/images/background/Backgroundtechnology.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-technology .container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-technology::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-technology .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-technology .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .jumbotron-technology .breadcrumb {
        margin-left: -240px;
        margin-top: 100px;
    }

    /* ABOUT US */

    .jumbotron-aboutus {
        background-image: url("assets/images/background/Background.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
    }

    .jumbotron-aboutus::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-aboutus .container {
        z-index: 1;
        position: relative;
    }

    /*.jumbotron-aboutus::after{*/
    /*    content: '';*/
    /*    display: block;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*}*/

    .jumbotron-aboutus .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-aboutus .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .jumbotron-aboutus .display-4 .breadcrumb .breadcrumb-item {
        margin-top: 130px;
    }

    /* Info Panel */
    .info-panel-aboutus {
        background-color: white;
        box-shadow: 0 1px 4px;
        border-radius: 10px;
        padding: 30px;
        /* margin-top: -70px; */
        z-index: 1;
    }

    /* Our Experience */
    .ourexperience,
    .card {
        margin-left: 10px;
        position: relative;
    }

    /* Team Member */
    .team-member,
    .card {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        position: relative;
    }

    .team-member,
    .card-title {
        text-align: center;
    }

    .jumbotron-career .breadcrumb {
        margin-left: -130px;
        margin-top: 100px;
    }

    .image-size-solution {
        width: 275px;
        height: 140px;
        margin-left: -10px;
        object-fit: cover;
    }

    .bg-image-size-solution {
        width: 275px;
        height: 140px;
        margin-left: -10px;
        margin-top: 5px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .jumbotron-home .container .breadcrumb {
        margin-left: -140px;
        margin-top: 110px;
    }

    .jumbotron-career .breadcrumb {
        margin-top: 100px;
        margin-left: -170px;
    }

    .jumbotron-news .breadcrumb {
        margin-top: 110px;
        margin-left: -125px;
    }
    /* TECHNOLOGY */
    .image-size-tech {
        height: 3000px;
        width: auto;
        margin-top: 50px;
    }

    .jumbotron-technology .container .breadcrumb {
        margin-left: -250px;
        margin-top: 100px;
    }

    .jumbotron-technology {
        background-image: url("assets/images/background/Backgroundtechnology.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-technology .container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-technology::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-technology .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-technology .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .info-panel-technology {
        background-image: url("assets/images/technology/bgimg.png");
        border-radius: 10px;
        width: 1186px;
        height: 2297px;
        padding: 30px;
        margin-top: -70px;
        z-index: 1;
    }

    /* Solution */
    .jumbotron-solution .container .breadcrumb {
        margin-top: 100px;
        margin-left: -170px;
    }
    /* ABOUT US */

    .jumbotron-aboutus {
        background-image: url("assets/images/background/Background.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
    }

    .jumbotron-aboutus::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-aboutus .container {
        z-index: 1;
        position: relative;
    }

    /*.jumbotron-aboutus::after{*/
    /*    content: '';*/
    /*    display: block;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*}*/

    .jumbotron-aboutus .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-aboutus .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .jumbotron-aboutus .breadcrumb {
        margin-top: 110px;
        margin-left: -220px;
    }

    /* Info Panel */
    .info-panel-aboutus {
        background-color: white;
        box-shadow: 0 1px 4px;
        border-radius: 10px;
        padding: 30px;
        /* margin-top: -70px; */
        z-index: 1;
    }

    .text-mobile {
        font-weight: 700;
        font-style: normal;
        font-size: 44px;
    }

    .container-solution {
        height: 191px;
    }
    .img-solution {
        max-width: 360px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .bg-solution {
        max-width: 360px;
        background-color: #f1a501;
    }
    .cantas-app {
        align-items: center;
        gap: 10px;
    }

    .cantas-smartphone {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .cantas-visit {
        padding-bottom: 15px;
    }

    .image-size-solution {
        width: 351px;
        height: 191px;
        object-fit: cover;
    }

    .bg-image-size-solution {
        width: 360px;
        height: 191px;
        margin-left: -10px;
        margin-top: 5px;
    }
}

/* Dekstop Version */
@media (min-width: 992px) {
    .jumbotron-home .container .breadcrumb {
        margin-left: -160px;
    }

    .container-solution {
        height: 191px;
    }
    .img-solution {
        max-width: 360px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .bg-solution {
        max-width: 360px;
        background-color: #f1a501;
    }
    .cantas-app {
        align-items: center;
        gap: 10px;
    }

    .cantas-smartphone {
        display: flex;
        width: 100%;
    }

    .cantas-visit {
        margin-right: auto;
        padding-bottom: 15px;
    }

    .image-size-solution {
        width: 351px;
        height: 191px;
        margin-left: -10px;
        margin-top: 5px;
        object-fit: cover;
    }

    .bg-image-size-solution {
        width: 360px;
        height: 191px;
        margin-left: 80px;
        margin-top: -40px;
    }

    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid brown;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* .news a{
        position: absolute;
        margin-left:-300px;
    } */
    .services img {
        position: absolute;
    }

    .services .card-body {
        width: 350px;
        height: 300px;
    }

    .services .card img {
        position: absolute;
        margin-left: 200px;
    }

    .services .card-body .text {
        margin-top: 100px;
        position: absolute;
        margin-left: 20px;
        margin-top: 20px;
        text-align: justify;
    }

    .services .card {
        position: absolute;
    }

    .services {
        margin: 30px;
    }

    /* Solution */
    .jumbotron-solution {
        background-image: url("assets/images/background/Backgroundsolution.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-solution.container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-solution::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-solution .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-solution .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .info-panel-solution {
        background-color: white;
        border-radius: 10px;
        width: 1000px;
        height: 500px;
        padding: 30px;
        /* margin-top: -70px; */
        z-index: 1;
    }

    .embed-responsive-item-solution {
        height: 510px;
        width: 900px;
    }

    /* TECHNOLOGY */
    .jumbotron-technology {
        background-image: url("assets/images/background/Backgroundtechnology.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-technology .container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-technology::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-technology .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-technology .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .info-panel-technology {
        background-image: url("assets/images/technology/bgimg.png");
        border-radius: 10px;
        width: 1186px;
        height: 2297px;
        padding: 30px;
        margin-top: -70px;
        z-index: 1;
    }

    .image-size-tech {
        height: 3000px;
        width: auto;
        margin-top: 50px;
    }

    /* ABOUT US */

    .jumbotron-aboutus {
        background-image: url("assets/images/background/Background.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
    }

    .jumbotron-aboutus .container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-aboutus::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-aboutus .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-aboutus .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .jumbotron-aboutus .display-4 .breadcrumb .breadcrumb-item {
        margin-top: 130px;
    }

    .embed-responsive-item-aboutus {
        height: 280px;
        width: 500px;
    }

    .hero-font-title {
        margin-top: 40px;
        font-weight: 700;
        font-size: 44px;
    }

    .hero-font-desc {
        font-weight: 700;
        font-size: 20px;
    }

    .card-aboutus {
        width: 200px;
        height: 200px;
    }

    /* Info Panel */
    .info-panel-aboutus {
        background-color: white;
        box-shadow: 0 1px 4px;
        border-radius: 10px;
        padding: 30px;
        /* margin-top: -70px; */
        z-index: 1;
    }

    /* Our Experience */
    .ourexperience,
    .card {
        margin-left: 10px;
        position: relative;
    }

    /* Team Member */
    .team-member,
    .card {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        position: relative;
    }

    .team-member,
    .card-title {
        text-align: center;
    }

    .card-body-indexnews {
        padding: 20px;
    }

    .index-services {
        padding: 20px;
    }

    .subscribe .card {
        background-color: #f1a501;
        width: 1170px;
        height: 200px;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    /* NEWS */
    .jumbotron-news {
        background-image: url("assets/images/background/Backgroundnews.png");
        background-size: cover;
        height: 375px;
        width: auto;
        position: relative;
        margin: auto;
    }

    .jumbotron-news .container {
        z-index: 1;
        position: relative;
    }

    .jumbotron-news::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff7f4, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
    }

    .jumbotron-news .display-4 {
        color: #373737;
        text-align: start;
        margin-bottom: 30px;
        /* margin-left: -135px; */
        font-weight: 700;
        font-size: 48;
    }

    .jumbotron-news .display-4 .breadcrumb {
        color: #373737;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    .info-panel-news {
        background-color: white;
        border-radius: 10px;
        width: 1314px;
        height: 800px;
        padding: 30px;
        margin-top: -70px;
        z-index: 1;
    }
}

.number-employees {
    font-size: 48px;
}

.normal {
    font-weight: normal !important;
}

.shadow-test {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-header {
    font-weight: 700 !important;
    font-size: 22px !important;
}

.btn-primary {
    color: #fff;
    background-color: #00008b;
    border-color: #00008b;
}

.btn-secondary {
    color: #00008b;
    background-color: #fff;
    border-color: #00008b;
}

.custom-border {
    border-radius: 13px !important;
}

.custom-margin-add {
    width: 8%;
}

.vh-80 {
    height: 80vh !important;
}

.color-custom {
    background-color: #1c294e !important;
}
